@mixin font-face($font-family, $font-src) {
  @font-face {
    font-family: $font-family, ;
    font-weight: 400;
    font-style: normal;
    font-display: swap;
    src: $font-src;
  }
}

@mixin button {
  background-color: #68B738;
  color: $lighter;
  width: 280px;
  height: 40px;
  padding: 10px 44px;
  text-decoration: none;
  text-transform: uppercase;

  &:hover {
    background-color: #5EAA2F;
  }

  &:active {
    color: rgba($lighter, 0.3);
  }
}
