$primary-font: "Oswald", sans-serif;
$secondary-font: "Lato", sans-serif;
$lighter: #ffffff;
$light-gray:#e6e6e6;
$dark: #444444;
$darker: #000000;/* здесь используйте глобальные переменные */
$mobile-width: 320px;
$tablet-width: 768px;
$desktop-width: 1440px;
