$primary-font: "Oswald", "Arial", sans-serif;
$secondary-font: "Lato", "Arial", sans-serif;
$lighter: #ffffff;
$light-gray: #e6e6e6;
$basic-grey: #f2f2f2;
$dark: #444444;
$darker: #000000;
$basic-secondary-color: #5eaa2f;
$basic-green: #68b738;
$mobile-width: 320px;
$tablet-width: 768px;
$desktop-width: 1440px;
