/* GLOBAL */
@import "./global/variables.scss";
@import "./global/mixins.scss";
@import "./global/global.scss";
@import "./global/fonts.scss";
@import "./global/visually-hidden.scss";
@import "./global/common.scss";


/* BLOCKS */
@import "./blocks/container.scss";
@import "./blocks/main-header.scss";
@import "./blocks/burger-toggle.scss";
@import "./blocks/main-nav.scss";
@import "./blocks/main-footer.scss";
@import "./blocks/address.scss";
@import "./blocks/advantages.scss";
@import "./blocks/catalog.scss";
@import "./blocks/example.scss";
@import "./blocks/hero.scss";
@import "./blocks/options.scss";
@import "./blocks/selection.scss";
@import "./blocks/selection-forms.scss";
@import "./blocks/input-text.scss";
