.address-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 112px;

  @media (min-width: $tablet-width) {
    justify-content: space-between;
    padding-left: 70px;
    padding-right: 70px;
    height: 200px;
  }

  @media (min-width: $desktop-width) {
    position: absolute;
    width: 565px;
    height: 199px;
    background-color: $lighter;
    margin-top: 95px;
    margin-left: 110px;
    align-items: center;
  }
}

.address__title {
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  width: 140px;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 26px;
    width: 163px;
  }
}

.address__subtitle {
  font-family: $secondary-font;
  color: $dark;
  font-size: 14px;
  line-height: 20px;
  font-style: normal;
  width: 140px;

  @media (min-width: $tablet-width) {
    font-size: 16px;
    width: 157px;
    text-align: end;
    margin-bottom: 18px;
  }
}

.address__wrapper-map {
  position: relative;
  width: 100%;
  min-height: 362px;

  @media (min-width: $tablet-width) {
    min-height: 400px;
  }
}

.address__map {
  display: block;
  position: relative;
  z-index: 1;
  border: 0;
  width: 100%;

  @media (min-width: $tablet-width) {
    height: 400px;
  }
}

.address__wrapper-image {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
}

.address__image {
  width: 100%;
  object-fit: cover;
}
