.advantages__title {
  font-size: 36px;
  line-height: 40px;
  margin: 0;
  margin-bottom: 42px;
  margin-top: 3px;

  @media (min-width: $tablet-width) {
    font-size: 60px;
  }
}

.advantages__wrapper {
  margin: 0 auto;
  width: 280px;
  padding-top: 59px;
  padding-bottom: 53px;

  @media (min-width: $tablet-width) {
    width: 708px;
  }

  @media (min-width: $desktop-width) {
    width: 1260px;
  }
}

.advantages__list {
  display: flex;
  flex-direction: column;
  gap: 26px;
  margin-left: 80px;

  @media (min-width: $tablet-width) {
    flex-direction: row;
    flex-wrap: wrap;
    gap: 37px 137px;
    margin-left: 0;
  }

  @media (min-width: $desktop-width) {
    gap: 37px 80px;
  }
}

.advantages__item {
  font-family: $secondary-font;
  color: $dark;
  font-size: 14px;
  line-height: 18px;
  width: 200px;
  min-height: 60px;

  @media (min-width: $tablet-width) {
    font-size: 16px;
    line-height: 24px;
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 30px;
    min-height: 280px;
    width: 245px;
    min-height: 280px;

    &::after {
      font-family: $primary-font, sans-serif;
      content: counter(list-item);
      counter-increment: list-item;
      position: absolute;
      left: 0%;
      top: 50%;
      transform: translateY(-50%);
      background-color: transparent;
      color: $basic-grey;
      font-size: 280px;
      line-height: 280px;
      padding-left: 118px;
      z-index: -1;
    }
  }
}

.advantages__item--leaf {
  position: relative;

  &::before {
    position: absolute;
    content: "";
    width: 60px;
    height: 60px;
    left: -80px;
    top: 0;
    z-index: 1;
    background-color: $basic-green;
    background-image: url("../../images/icons/stack.svg#icon-leaf");
    background-size: 30px 32px;
    background-repeat: no-repeat;
    background-position: center;

    @media (min-width: $tablet-width) {
      position: static;
      left: 0;
      top: 40px;
      width: 80px;
      height: 80px;
    }
  }
}

.advantages__item--water {
  position: relative;


  @media (min-width: $tablet-width) {
    margin-left: 153px;
  }

  @media (min-width: $tablet-width) {
    margin-left: 0;
  }

  &::before {
    position: absolute;
    content: "";
    width: 60px;
    height: 60px;
    left: -80px;
    top: 0;
    z-index: 1;
    background-color: $basic-green;
    background-image: url("../../images/icons/stack.svg#icon_water");
    background-size: 30px 32px;
    background-repeat: no-repeat;
    background-position: center;

    @media (min-width: $tablet-width) {
      position: static;
      left: 0;
      top: 40px;
      width: 80px;
      height: 80px;
    }
  }
}

.advantages__item--devices {
  position: relative;

  &::before {
    position: absolute;
    content: "";
    width: 60px;
    height: 60px;
    left: -80px;
    top: 0;
    z-index: 1;
    background-color: $basic-green;
    background-image: url("../../images/icons/stack.svg#icon-devices");
    background-size: 30px 32px;
    background-repeat: no-repeat;
    background-position: center;

    @media (min-width: $tablet-width) {
      position: static;
      left: 0;
      top: 40px;
      width: 80px;
      height: 80px;
    }
  }
}

.advantages__item--clock {
  position: relative;

  @media (min-width: $tablet-width) {
    margin-left: 137px;
  }

  @media (min-width: $tablet-width) {
    margin-left: 0;
  }

  &::before {
    position: absolute;
    content: "";
    width: 60px;
    height: 60px;
    left: -80px;
    top: 0;
    z-index: 1;
    background-color: $basic-green;
    background-image: url("../../images/icons/stack.svg#icon-clock");
    background-size: 30px 32px;
    background-repeat: no-repeat;
    background-position: center;

    @media (min-width: $tablet-width) {
      position: static;
      left: 0;
      top: 40px;
      width: 80px;
      height: 80px;
    }
  }
}

.advantages__text {
  width: 245px;
  margin-bottom: 57px;
}
