.advantages__title {
  font-size: 36px;
  line-height: 40px;
}

.advantages__item {
  font-family: $secondary-font;
  color: $dark;
  font-size: 14px;
  line-height: 18px;
  margin-bottom: 50px;
}

.advantages__item--leaf {
  position: relative;
  &::before {
    position: absolute;
    content: "";
    width: 25px;
    height: 28px;
    background-image: url("../../images/icons/stack.svg#icon-leaf");
    background-color: black;
  }
}

.advantages__item--water {
  position: relative;
  &::before {
    position: absolute;
    content: "";
    width: 26px;
    height: 29px;
    background-image: url("../../images/icons/stack.svg#icon_water");
    background-color: black;
  }
}

.advantages__item--devices {
  position: relative;
  &::before {
    position: absolute;
    content: "";
    width: 25px;
    height: 30px;
    background-image: url("../../images/icons/stack.svg#icon-devices");
    background-color: black;
  }
}

.advantages__item--clock {
  position: relative;
  &::before {
    position: absolute;
    content: "";
    width: 26px;
    height: 32px;
    background-image: url("../../images/icons/stack.svg#icon-clock");
    background-color: black;
  }
}
