.catalog__wrapper {
  width: 280px;
  margin: 0 auto;

  @media (min-width: $tablet-width) {
    width: 708px;
  }

  @media (min-width: $desktop-width) {
    width: 1220px;
  }
}

.catalog__title {
  position: relative;
  font-size: 29px;
  line-height: 36px;

  &::after {
    position: absolute;
    content: "";
    width: calc(100% + 40px);
    height: 1px;
    left: -20px;
    top: -10px;
    background-color: $light-gray;

    @media (min-width: $tablet-width) {
      display: none;
    }
  }
}

.catalog__list {
  @media (min-width: $tablet-width) {
    display: flex;
    flex-wrap: wrap;
    gap: 60px;
  }

  @media (min-width: $desktop-width) {
    gap: 80px;
  }
}

.catalog__promote-wrapper {
  @media (min-width: $desktop-width) {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
}

.catalog__promote {
  position: relative;
  width: 280px;
  height: 290px;

  &::before {
    position: absolute;
    content: "";
    top: 55px;
    left: 100px;
    width: 78px;
    height: 80px;
    background-image: url("../../images/icons/stack.svg#icon_gift");

    @media (min-width: $tablet-width) {
      width: 80px;
      height: 83px;
    }

    @media (min-width: $desktop-width) {
      left: 80px;
    }
  }

  &::after {
    content: " ";
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    width: 280px;
    height: 290px;
    z-index: -1;
    background:
      linear-gradient(to right, rgba($basic-green, 0.85), rgba($basic-green, 0.85)),
      image-set(url("../../images/catalog-cat--mobile-desktop@1x.wepb") type("image/wepb") 1x,
        url("../../images/catalog-cat--mobile-desktop@2x.wepb") type("image/wepb") 2x,
        url("../../images/catalog-cat--mobile-desktop@1x.jpg") type("image/jpg") 1x,
        url("../../images/catalog-cat--mobile-desktop@2x.jpg") type("image/jpg") 2x);
    background-repeat: no-repeat;
    background-position: top right;
    background-size: cover;

    @media (min-width: $tablet-width) {
      width: 707px;
      height: 200px;
      background:
        linear-gradient(to right, rgba($basic-green, 0.85), rgba($basic-green, 0.85)),
        image-set(url("../../images/catalog-cat--tablet@1x.webp") type("image/webp") 1x,
          url("../../images/catalog-cat--tablet@2x.webp") type("image/webp") 2x,
          url("../../images/catalog-cat--tablet@1x.jpg") type("image/jpg") 1x,
          url("../../images/catalog-cat--tablet@2x.jpg") type("image/jpg") 2x);
    }

    @media (min-width: $desktop-width) {
      width: 245px;
      height: 288px;
      background:
        linear-gradient(to right, rgba($basic-green, 0.85), rgba($basic-green, 0.85)),
        image-set(url("../../images/catalog-cat--mobile-desktop@1x.webp") type("image/webp") 1x,
          url("../../images/catalog-cat--mobile-desktop@2x.webp") type("image/webp") 2x,
          url("../../images/catalog-cat--mobile-desktop@1x.jpg") type("image/jpg") 1x,
          url("../../images/catalog-cat--mobile-desktop@2x.jpg") type("image/jpg") 2x);
    }
  }

  @media (min-width: $tablet-width) {
    width: 707px;
    height: 200px;
  }

  @media (min-width: $desktop-width) {
    width: 245px;
    height: 288px;
  }
}

.catalog__promote-title {
  font-family: $secondary-font;
  color: $lighter;
  text-align: center;
  padding-top: 187px;
  margin: 0;
  width: 161px;
  margin: 0 auto;

  @media (min-width: $tablet-width) {
    margin-left: 421px;
    padding-top: 71px;
  }

  @media (min-width: $desktop-width) {
    width: 161px;
    text-align: center;
    margin: 0 auto;
    padding-top: 187px;
  }
}
