.catalog__wrapper {
  width: 280px;
  margin: 0 auto;

  @media (min-width: $tablet-width) {
    width: 708px;
  }

  @media (min-width: $desktop-width) {
    width: 1220px;
  }
}

.catalog__title {
  position: relative;
  font-size: 29px;
  line-height: 36px;

  &::after {
    position: absolute;
    content: "";
    width: calc(100% + 40px);
    height: 1px;
    left: -20px;
    top: -10px;
    background-color: $light-gray;

    @media (min-width: $tablet-width) {
      display: none;
    }
  }
}

.catalog__list {
  @media (min-width: $tablet-width) {
    display: flex;
    flex-wrap: wrap;
    gap: 60px;
  }

  @media (min-width: $desktop-width) {
    gap: 80px;
  }
}

.catalog__item {
  position: relative;
  display: flex;
  align-content: flex-end;
  flex-wrap: wrap;
  padding-top: 20px;
  padding-bottom: 25px;

  &::after {
    position: absolute;
    content: "";
    width: calc(100% + 40px);
    height: 1px;
    left: -20px;
    top: 0;
    background-color: $light-gray;

    @media (min-width: $tablet-width) {
      display: none;
    }
  }

  @media (min-width: $tablet-width) {
    width: 324px;
    padding: 0;
    padding-bottom: 40px;
    justify-content: center;
    background: linear-gradient(to bottom, $lighter 16%, $basic-grey 16%);
  }

  @media (min-width: $desktop-width) {
    width: 245px;
  }
}

.catalog__item-wrapper {
  display: grid;
  grid-template-areas: "title title" "a b" "c d" "f g";
  justify-content: space-between;
  margin-left: 36px;
  width: 140px;


  &:nth-child(even) {
    margin-left: 27px;
  }

  @media (min-width: $tablet-width) {
    width: 250px;
    height: 113px;

    &:nth-child(even) {
      margin-left: 0;
    }
  }

  @media (min-width: $desktop-width) {
    width: 169px;
  }
}

.catalog__item-image {
  margin-left: 36px;

  &:nth-child(odd) {
    margin-left: 28px;
  }

  @media (min-width: $tablet-width) {
    margin-bottom: 41px;

    &:nth-child(odd) {
      margin-bottom: 24px;
    }
  }
}

.catalog__item-title {
  text-transform: uppercase;
  grid-area: title;
  margin: 0;
  width: 90px;
  margin-bottom: 14px;

  @media (min-width: $tablet-width) {
    width: 135px;
    text-align: center;
    justify-self: center;
  }
}

.catalog__item-text {
  position: relative;
  font-family: $secondary-font;
  color: $dark;
  font-size: 12px;
  line-height: 16px;
  margin: 0;

  &:nth-child(2) {
    grid-area: a;

    @media (min-width: $tablet-width) {
      &::before {
        position: absolute;
        content: "";
        width: 250px;
        height: 1px;
        background-color: #cdcdcd;
        bottom: 1px;
      }
    }

    @media (min-width: $desktop-width) {
      &::before {
        width: 169px;
      }
    }
  }

  &:nth-child(3) {
    grid-area: b;
    text-align: end;
  }

  &:nth-child(4) {
    grid-area: c;
    position: relative;

    @media (min-width: $tablet-width) {
      &::before {
        position: absolute;
        content: "";
        width: 250px;
        height: 1px;
        background-color: #cdcdcd;
        bottom: 1px;
      }
    }

    @media (min-width: $desktop-width) {
      &::before {
        width: 169px;
      }
    }
  }

  &:nth-child(5) {
    grid-area: d;
    text-align: end;
  }

  &:nth-child(6) {
    grid-area: f;
    position: relative;

    @media (min-width: $tablet-width) {
      &::before {
        position: absolute;
        content: "";
        width: 250px;
        height: 1px;
        background-color: #cdcdcd;
        bottom: 1px;
      }
    }

    @media (min-width: $desktop-width) {
      &::before {
        width: 169px;
      }
    }
  }

  &:nth-child(7) {
    grid-area: g;
    text-align: end;
  }
}

.catalog__item-button {
  @include button;
  border: none;
  width: 280px;
  margin-top: 21px;

  @media (min-width: $tablet-width) {
    width: 250px;
    height: 40px;
  }

  @media (min-width: $desktop-width) {
    width: 169px;
  }
}

.catalog__subtitle-wrapper {
  position: relative;

  &::after {
    position: absolute;
    content: "";
    width: calc(100% + 40px);
    height: 1px;
    left: -20px;
    top: -88px;
    background-color: $light-gray;

    @media (min-width: $tablet-width) {
      display: none;
    }
  }

  @media (min-width: $tablet-width) {
    margin-top: 70px;
    width: 324px;
    height: 358px;
    border: 2px solid $basic-grey;
    text-align: center;
  }

  @media (min-width: $desktop-width) {
    width: 245px;
  }
}

.catalog__subtitle {
  position: relative;
  margin-top: 78px;
  font-size: 16px;
  text-transform: uppercase;
  text-align: center;

  &::after {
    position: absolute;
    content: "";
    width: 30px;
    height: 2px;
    left: 120px;
    top: -38px;
    background-color: #d3d3d3;
  }

  &::before {
    position: absolute;
    content: "";
    width: 30px;
    height: 2px;
    left: 120px;
    top: -38px;
    transform: rotate(90deg);
    background-color: #d3d3d3;
  }

  @media (min-width: $tablet-width) {
    margin: 0 auto;
    margin-top: 145px;
    width: 134px;

    &::after {
      width: 60px;
      top: -88px;
      left: 35px;
    }

    &::before {
      width: 60px;
      top: -88px;
      left: 35px;
    }
  }
}

.catalog__text {
  font-family: $secondary-font;
  color: $dark;
  font-size: 12px;
  line-height: 16px;
  text-align: center;

  @media (min-width: $tablet-width) {
    margin: 0 auto;
    margin-top: 20px;
    font-size: 16px;
    width: 170px;
  }
}

.catalog__link {
  display: inline-block;
  text-align: center;
  padding: 10px 0 10px 0;
  text-decoration: none;
  color: $dark;
  text-transform: uppercase;
  width: 280px;
  background-color: $basic-grey;

  @media (min-width: $tablet-width) {
    margin-top: 43px;

  }

  @media (min-width: $desktop-width) {
    width: 169px;
  }
}

.catalog__additionally {
  position: relative;
  font-size: 24px;
  line-height: 24px;
  background-color: $lighter;
  box-shadow: -20px 0 0 $lighter, 20px 0 0 $lighter;
  display: inline-block;

  &::after {
    position: absolute;
    content: "";
    width: 320px;
    height: 1px;
    left: -20px;
    top: -10px;
    background-color: $light-gray;

    @media (min-width: $tablet-width) {
      display: none;
    }
  }

  &::before {
    content: " ";
    position: absolute;
    top: 14px;
    right: 0;
    width: 100vw;
    height: 2px;
    background-color: $basic-green;
    box-shadow: 100vw 0 0 $basic-green;
    z-index: -1;

    @media (min-width: $tablet-width) {
      top: 22px;
    }
  }

  @media (min-width: $tablet-width) {
    font-size: 36px;
    margin-left: 40px;
    box-shadow: -40px 0 0 $lighter, 40px 0 0 $lighter;
  }

  @media (min-width: $desktop-width) {
    padding-right: 600px;
  }
}

.catalog__additionally-list {
  list-style-type: none;

  @media (min-width: $tablet-width) {
    margin-bottom: 70px;
  }

  @media (min-width: $desktop-width) {
    margin-right: 80px;
    width: 895px;
  }
}

.catalog__additionally-item {
  padding: 13px 0 19px 0;
  position: relative;

  &::after {
    position: absolute;
    content: "";
    width: 320px;
    height: 1px;
    left: -20px;
    top: -10px;
    background-color: $light-gray;

    @media (min-width: $tablet-width) {
      display: none;
    }
  }

  &:last-child::before {
    position: absolute;
    content: "";
    width: 280px;
    height: 1px;
    left: 0;
    bottom: 10px;
    background-color: $light-gray;

    @media (min-width: $tablet-width) {
      display: none;
    }
  }

  @media (min-width: $tablet-width) {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    border: 1px solid #cdcdcd;
    padding: 0 38px 29px;
  }

  @media (min-width: $desktop-width) {
    border: none;
    border-top: 1px solid #cdcdcd;
    border-bottom: 1px solid #cdcdcd;
    padding: 0;
    padding-bottom: 15px;
    padding-top: 15px;
  }
}

.catalog__aditionally-title {
  position: relative;
  line-height: 16px;
  text-transform: uppercase;
  margin: 0;
}

.catalog__additionally-text-wrapper {
  display: flex;
  justify-content: space-between;

  @media (min-width: $tablet-width) {
    gap: 50px;
  }

  @media (min-width: $desktop-width) {
    width: 284px;
    margin-left: auto;
    margin-right: 40px;
    gap: 0;
  }
}

.catalog__additionally-text {
  font-family: $secondary-font;
  color: $dark;
  font-size: 14px;
  line-height: 14px;
}

.catalog__additionally-button {
  @include button;
  border: none;
  width: 280px;

  @media (min-width: $tablet-width) {
    width: 632px;
  }

  @media (min-width: $desktop-width) {
    width: 244px;
  }
}

.catalog__promote-wrapper {
  @media (min-width: $desktop-width) {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
}

.catalog__promote {
  position: relative;
  width: 280px;
  height: 290px;

  &::before {
    position: absolute;
    content: "";
    top: 55px;
    left: 100px;
    width: 78px;
    height: 80px;
    background-image: url("../../images/icons/stack.svg#icon_gift");

    @media (min-width: $tablet-width) {
      width: 80px;
      height: 83px;
    }

    @media (min-width: $desktop-width) {
      left: 80px;
    }
  }

  &::after {
    content: " ";
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    width: 280px;
    height: 290px;
    z-index: -1;
    background:
      linear-gradient(to right, rgba($basic-green, 0.85), rgba($basic-green, 0.85)),
      image-set(url("../../images/catalog-cat--mobile-desktop@1x.jpg") type("image/jpg") 1x,
        url("../../images/catalog-cat--mobile-desktop@2x.jpg") type("image/jpg") 2x);
    background-repeat: no-repeat;
    background-position: top right;
    background-size: cover;

    @media (min-width: $tablet-width) {
      width: 707px;
      height: 200px;
      background:
        linear-gradient(to right, rgba($basic-green, 0.85), rgba($basic-green, 0.85)),
        image-set(url("../../images/catalog-cat--tablet@1x.jpg") type("image/jpg") 1x,
          url("../../images/catalog-cat--tablet@2x.jpg") type("image/jpg") 2x);
    }

    @media (min-width: $desktop-width) {
      width: 245px;
      height: 288px;
      background:
        linear-gradient(to right, rgba($basic-green, 0.85), rgba($basic-green, 0.85)),
        image-set(url("../../images/catalog-cat--mobile-desktop@1x.jpg") type("image/jpg") 1x,
          url("../../images/catalog-cat--mobile-desktop@2x.jpg") type("image/jpg") 2x);
    }
  }

  @media (min-width: $tablet-width) {
    width: 707px;
    height: 200px;
  }

  @media (min-width: $desktop-width) {
    width: 245px;
    height: 288px;
  }
}

.catalog__promote-title {
  font-family: $secondary-font;
  color: $lighter;
  text-align: center;
  padding-top: 187px;
  margin: 0;
  width: 161px;
  margin: 0 auto;

  @media (min-width: $tablet-width) {
    margin-left: 421px;
    padding-top: 71px;
  }

  @media (min-width: $desktop-width) {
    width: 161px;
    text-align: center;
    margin: 0 auto;
    padding-top: 187px;
  }
}
