.example-container {
  background-color: #eaeaea;
  padding-top: 48px;
  padding-bottom: 41px;

  @media (min-width: $tablet-width) {
    padding-bottom: 100px;
  }

  @media (min-width: $desktop-width) {
    padding: 25px 110px 40px 110px;
    max-width: 100%;
  }

}

.example__wrapper {
  @media (min-width: $desktop-width) {
    width: 1260px;
    margin: 0 auto;
    display: flex;
  }
}

.example__title {
  font-size: 36px;
  line-height: 40px;
  margin: 0;

  @media (min-width: $tablet-width) {
    display: inline-block;
    font-size: 60px;
  }
}

.example__text {
  font-family: $secondary-font;
  color: $dark;
  font-size: 14px;
  line-height: 18px;
  margin-top: 40px;
  margin-bottom: 20px;

  @media (min-width: $tablet-width) {
    font-size: 16px;
    line-height: 24px;
    margin-top: 60px;
  }


  @media (min-width: $desktop-width) {
    width: 436px;
    font-size: 16px;
    line-height: 24px;
  }
}

.example__subtitle-wrapper {
  @media (min-width: $tablet-width) {
    display: flex;
    justify-content: space-between;
  }

  @media (min-width: $desktop-width) {
    display: inline-block;
  }
}

.example__argument-wrapper {
  display: flex;
  justify-content: space-between;
  margin-bottom: 34px;

  @media (min-width: $tablet-width) {
    margin-top: 36px;
    justify-content: space-between;
    width: 367px;
  }

  @media (min-width: $desktop-width) {
    width: 436px;
  }
}

.example__argument {
  position: relative;
  border: 1px solid #cdcdcd;
  padding: 11px 20px;
  border-radius: 5px;
  width: 124px;
  height: 56px;

  @media (min-width: $tablet-width) {
    width: 162px;
  }
}

.example__argument-title {
  font-size: 24px;
  line-height: 24px;
  text-align: center;
  margin: 0;
  margin-top: 2px;
  text-transform: uppercase;

  @media (min-width: $tablet-width) {
    font-size: 30px;
    line-height: 37px;
  }
}

.example__argument-description {
  position: absolute;
  font-family: $secondary-font;
  color: $dark;
  font-size: 12px;
  line-height: 12px;
  width: 77px;
  text-align: center;
  margin: 0;
  bottom: -15px;
  background-color: #eaeaea;

  @media (min-width: $tablet-width) {
    width: 125px;
    bottom: -5px;
  }
}

.example__subtitle {
  font-size: 14px;
  line-height: 20px;
  text-transform: uppercase;
  text-align: center;

  @media (min-width: $tablet-width) {
    margin-top: 44px;
    line-height: 27px;
    font-size: 20px;
    width: 174px;
    text-align: end;
  }

  @media (min-width: $desktop-width) {
    width: 300px;
  }
}

.example__wrapper-slider {
  position: relative;
  display: flex;
  margin: 0 0 0 8px;
  min-height: 256px;
  width: 280px;

  @media (min-width: $tablet-width) {
    margin: 83px 0 0 74px;
    width: 516px;
  }

  @media (min-width: $desktop-width) {
    margin: 0 auto;
  }
}

.example__wrapper-first {
  clip-path: polygon(0 0, 50% 0, 50% 100%, 0 100%);
  z-index: 0;
}

.example__wrapper-second {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
  clip-path: polygon(50% 0, 100% 0, 100% 100%, 50% 100%);
}

.example__wrapper-range {
  position: absolute;
  left: 50%;
  top: 50%;
  height: 256px;
  transform: translate(-50%, -50%);
  border: none;
  padding: 0;
  z-index: 1;
  display: flex;

  @media (min-width: $tablet-width) {
    height: 512px;
    left: 50%;
  }
}

.example__button-range {
  border: none;
  background-color: transparent;
  color: #666666;
  padding: 0;
  z-index: 1;
  cursor: pointer;

  &::before {
    content: " ";
    display: block;
    position: absolute;
    width: 4px;
    border-radius: 4px;
    height: 100%;
    background-color: #666666;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: -1;
  }

  &::after {
    content: "";
    position: absolute;
    width: 40px;
    height: 40px;
    left: 45px;
    top: 234px;
    background-image: url(../../images/icons/stack.svg#thumb-icon-hover);
    z-index: -1;
  }

  &:hover::after {
    z-index: 1;
  }

  &:hover {
    color: $basic-green;
  }

  &:hover::before {
    background-color: $basic-green;
  }

  &:hover svg {
    color: $basic-green;
  }

  &:focus-visible::before {
    background-color: $basic-green;
  }

  &:active {
    color: $basic-green;
    opacity: 0.6;
  }

  &:active svg {
    opacity: 0.6;
    color: $basic-secondary-color;
  }

  &:active::before {
    background-color: $basic-green;
  }

  @media (min-width: $tablet-width) {
    margin-left: 45px;

    &::before {
      left: 76%;
    }
  }
}
