.example__title {
  font-size: 36px;
  line-height: 40px;

  @media (min-width: $desktop-width) {
    display: inline-block;
  }
}

.example__text {
  font-family: $secondary-font;
  color: $dark;
  font-size: 14px;
  line-height: 18px;

  @media (min-width: $desktop-width) {
    width: 436px;
  }
}

.example__subtitle-wrapper {

  @media (min-width: $tablet-width) {
    display: flex;
    justify-content: space-between;
  }

  @media (min-width: $desktop-width) {
    display: inline-block;
  }
}

.example__argument-wrapper {
  display: flex;
  justify-content: space-around;

  @media (min-width: $desktop-width) {
    width: 436px;
  }
}

.example__argument-title {
  font-size: 24px;
  line-height: 24px;
}

.example__argument-description {
  font-family: $secondary-font;
  color: $dark;
  font-size: 12px;
  line-height: 12px;
}

.example__subtitle {
  font-size: 14px;
  line-height: 20px;
  text-transform: uppercase;
  text-align: center;

  @media (min-width: $tablet-width) {
    width: 175px;
    text-align: end;

    @media (min-width: $desktop-width) {
      width: 300px;
    }
  }
}

.example__slider {

  @media (min-width: $desktop-width) {
    display: inline-block;
    margin-left: 500px;
  }
}
