.hero {
  color: $lighter;
  display: flex;
  flex-direction: column;

  @media (min-width: $desktop-width) {
    height: 694px;
  }
}

.hero__container {
  display: flex;
  flex-direction: column;
}

.hero__bg-wrapper {
  width: 100%;
  background:
    linear-gradient(rgba($basic-secondary-color, 0.85) 62.4%, rgba($basic-green, 0.85)),
    image-set(url("../../images/hero-cat-bg--mobile@1x.jpg") type("image/jpg") 1x,
      url("../../images/hero-cat-bg--mobile@2x.jpg") type("image/jpg") 2x);
  background-repeat: no-repeat;
  background-position: top center;
  background-size: auto 302px;

  @media (min-width: $tablet-width) {
    width: unset;
    background: none;
    margin: 0 auto;
  }

  @media (min-width: $desktop-width) {
    margin: 0;
    margin-bottom: 182px;

    &::before {
      content: " ";
      display: block;
      position: absolute;
      top: 0;
      right: 0;
      width: 50%;
      height: 694px;
      z-index: -1;
      background:
        linear-gradient(to right, rgba($basic-green, 0.85) 50%, rgba($basic-green, 0.85) 50%),
        image-set(url("../../images/hero-cat-bg-desktop@1x.jpg") type("image/jpg") 1x,
          url("../../images/hero-cat-bg-desktop@2x.jpg") type("image/jpg") 2x);
      background-repeat: no-repeat;
      background-position: top right;
      background-size: 50vw 694px, contain;
    }
  }
}

.hero__text-container {
  @media (min-width: $tablet-width) {
    display: flex;
    flex-direction: column;
    margin-left: 90px;
  }

  @media (min-width: $desktop-width) {
    margin: 150px 0 0 80px;
  }
}

.hero__title {
  font-size: 36px;
  line-height: 36px;
  text-align: center;
  width: 255px;
  margin: 0 auto;
  font-weight: 400;
  margin-top: 27px;

  @media (min-width: $tablet-width) {
    font-size: 60px;
    line-height: 60px;
    color: $darker;
    width: 450px;
    text-align: start;
    margin: 0;
    margin-top: 77px;
    margin-bottom: 40px;
  }

  @media (min-width: $desktop-width) {
    margin: 0;
  }
}

.hero__text {
  font-size: 14px;
  line-height: 14px;
  text-align: center;
  text-transform: uppercase;
  margin-top: 25px;

  @media (min-width: $tablet-width) {
    color: $darker;
    text-align: start;
    font-size: 20px;
    margin: 0;
    margin-bottom: 25px;
  }

  @media (min-width: $desktop-width) {
    margin-top: 40px;
  }
}

.hero__main-image-wrapper {


  @media (min-width: $desktop-width) {
    position: absolute;
    margin-left: 232px;
    width: 552px;
  }
}

.hero__main-image {
  margin: 0 auto;
  display: block;

  @media (min-width: $desktop-width) {
    position: absolute;
    top: 100px;
    left: 39%;
  }
}

.hero__link-wrapper {
  position: relative;
  text-align: center;
  min-width: 244px;
  margin-top: 3px;

  @media (min-width: $desktop-width) {
    text-align: start;
    margin-top: 52px;
    margin-left: 80px;
  }
}

.hero__link {
  @include button;
  width: 280px;

  @media (min-width: $tablet-width) {
    width: 244px;
    padding: 17px 0 17px 0;
    font-size: 20px;
    position: absolute;
    top: -582px;
    left: 90px;
  }

  @media (min-width: $desktop-width) {
    position: static;
    text-align: center;
  }
}
