.hero {
  color: $lighter;
  display: flex;
  flex-direction: column;

  @media (min-width: $desktop-width) {
    height: 694px;
  }
}

.hero__container {
  display: flex;
  flex-direction: column;
}


.hero__bg-wrapper {
  &::before {
    content: "";
    position: absolute;
    top: 65px;
    right: 0;
    background-image:
      image-set(url("../../images/hero-cat-bg--mobile@1x.webp") type("image/webp") 1x,
        url("../../images/hero-cat-bg--mobile@2x.webp") type("image/webp") 2x,
        url("../../images/hero-cat-bg--mobile@1x.jpg") type("image/jpg") 1x,
        url("../../images/hero-cat-bg--mobile@2x.jpg") type("image/jpg") 2x);
    width: 100%;
    height: 100%;
    z-index: -2;
    background-repeat: no-repeat;
    background-size: auto 302px;
    background-position: top center;

    @media (min-width: $tablet-width) {
      display: none;
    }

    @media (min-width: $desktop-width) {
      display: block;
      background-image:
        image-set(url("../../images/hero-cat-bg-desktop@1x.jpg") type("image/jpg") 1x,
          url("../../images/hero-cat-bg-desktop@2x.jpg") type("image/jpg") 2x);
      width: 50%;
      height: 694px;
      top: 0;
      background-size: cover;
      background-position: left;
    }
  }

  &::after {
    content: "";
    position: absolute;
    top: 65px;
    right: 0;
    min-width: 320px;
    width: 100%;
    height: 302px;
    z-index: -1;
    background: linear-gradient(rgba(104, 183, 56, 0.85), rgba(104, 183, 56, 0.85));

    @media (min-width: $tablet-width) {
      display: none;
    }

    @media (min-width: $desktop-width) {
      display: block;
      top: 0;
      width: 50%;
      height: 694px;
    }
  }
}

.hero__text-container {
  @media (min-width: $tablet-width) {
    display: flex;
    flex-direction: column;
    margin-left: 90px;
  }

  @media (min-width: $desktop-width) {
    margin: 150px 0 0 80px;
  }
}

.hero__title {
  font-size: 36px;
  line-height: 36px;
  text-align: center;
  width: 255px;
  margin: 0 auto;
  font-weight: 400;
  margin-top: 27px;

  @media (min-width: $tablet-width) {
    font-size: 60px;
    line-height: 60px;
    color: $darker;
    width: 450px;
    text-align: start;
    margin: 0;
    margin-top: 77px;
    margin-bottom: 40px;
  }

  @media (min-width: $desktop-width) {
    margin: 0;
  }
}

.hero__text {
  font-size: 14px;
  line-height: 14px;
  text-align: center;
  text-transform: uppercase;
  margin-top: 25px;

  @media (min-width: $tablet-width) {
    color: $darker;
    text-align: start;
    font-size: 20px;
    margin: 0;
    margin-bottom: 25px;
  }

  @media (min-width: $desktop-width) {
    margin-top: 40px;
  }
}

.hero__main-image-wrapper {


  @media (min-width: $desktop-width) {
    position: absolute;
    margin-left: 232px;
    width: 552px;
  }
}

.hero__main-image {
  margin: 0 auto;
  display: block;

  @media (min-width: $desktop-width) {
    position: absolute;
    top: 100px;
    left: 39%;
  }
}

.hero__link-wrapper {
  position: relative;
  text-align: center;
  min-width: 244px;
  margin-top: 3px;

  @media (min-width: $desktop-width) {
    text-align: start;
    margin-top: 52px;
    margin-left: 80px;
  }
}

.hero__link {
  @include button;
  width: 280px;

  @media (min-width: $tablet-width) {
    width: 244px;
    padding: 17px 0 17px 0;
    font-size: 20px;
    position: absolute;
    top: -582px;
    left: 90px;
  }

  @media (min-width: $desktop-width) {
    position: static;
    text-align: center;
  }
}
