.selection__forms-input {
  &--email {
    display: flex;
  }

  &--tel {
    display: flex;
  }
}

.input {
  font-family: $primary-font;
  color: $dark;
  font-size: 16px;
  line-height: 112%;
  text-transform: uppercase;
  border: 1px solid #e7e7e7;
  padding-left: 15px;

  &--comment {
    padding-bottom: 118px;
  }

  &:focus-visible {
    outline: 2px solid $dark;
  }

  @media (min-width: $tablet-width) {
    font-size: 20px;
    padding-left: 20px;

    &--comment {
      padding-bottom: 135px;
    }
  }
}

.input:disabled {
  opacity: 0.5;
  outline: 2px solid #cdcdcd;
  cursor: not-allowed;
}

.input-wrapper {
  position: relative;

  &--email::after {
    position: absolute;
    content: "";
    left: 20px;
    top: 10px;
    width: 20px;
    height: 20px;
    mask-image: url("../../images/icons/stack.svg#form-mail");
    background-color: #000000;

    @media (min-width: $tablet-width) {
      left: 470px;
    }
  }

  &--tel::after {
    position: absolute;
    content: "";
    right: 0;
    top: 0;
    width: 20px;
    height: 20px;
    mask-image: url("../../images/icons/stack.svg#form-phone");
    background-color: #000000;

    &:focus-within,
    .input:focus-visible + & {
      background-color: $basic-green;
    }

    @media (min-width: $tablet-width) {
      right: 30px;
    }
  }
}

.input-wrapper:focus-within {
  &::after {
    background-color: $basic-green;
  }
}

.input-wrapper:focus-visible {
  &::after {
    background-color: $basic-green;
  }
}

// Ставить в обёртку div для input (Пример: <div class="input-wrapper input-wrapper--phone input-wrapper--error">
.input-wrapper--error {
  outline: 2px solid #ff0000;
}

.input-wrapper--error::after {
  background-color: #ff0000;
}
