.main-nav {

  width: 320px;
  position: absolute;
  top: 100%;
  left: -20px;

  &--closed {
    display: none;
  }

  &--opened {
    display: block;
    z-index: 2;
  }

  @media (min-width: $tablet-width) {
    position: relative;
    display: block;
    width: 440px;
  }

  @media (min-width: $desktop-width) {
    width: 476px;
  }
}

.main-nav__list {
  display: flex;

  @media (max-width: 767px) {
    width: 100%;
    flex-direction: column;
  }

  @media (min-width: $tablet-width) {
    gap: 33px;
  }
}

.main-nav__item {
  text-align: center;

  @media (max-width: 767px) {
    position: relative;
    width: 100%;
    padding-top: 22px;
    padding-bottom: 24px;
    background-color: $lighter;

    &::after {
      position: absolute;
      content: "";
      top: 0;
      left: 0;
      width: 100%;
      height: 1px;
      background-color: $light-gray;
    }

    &:last-child::before {
      position: absolute;
      content: "";
      bottom: 0;
      left: 0;
      width: 100%;
      height: 1px;
      background-color: $light-gray;
    }
  }
}

.main-nav__link {
  color: $darker;
  text-decoration: none;
  text-transform: uppercase;

  &:hover {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.3;
  }

  @media (min-width: $tablet-width) {
    font-size: 18px;
  }

  @media (min-width: $desktop-width) {
    color: $lighter;
    font-size: 20px;
    line-height: 30px;

    &--form-catalog {
      color: #111111;
    }
  }
}

.main-nav__link--current {
  position: relative;

  @media (min-width: $tablet-width) {
    &::after {
      position: absolute;
      content: "";
      bottom: -10px;
      left: 0;
      width: 100%;
      height: 2px;
      background-color: $basic-green;
    }
  }

  @media (min-width: $desktop-width) {
    &::after {
      background-color: $lighter;
    }
  }
}

.main-nav__link--current-form-catalog {
  position: relative;

  @media (min-width: $tablet-width) {
    &::after {
      position: absolute;
      content: "";
      bottom: -10px;
      left: 0;
      width: 100%;
      height: 2px;
      background-color: $basic-green;
    }
  }

  @media (min-width: $desktop-width) {
    &::after {
      background-color: $basic-green;
    }
  }
}
