.main-header__container {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 280px;
  margin: 0 auto;

  @media (min-width: $tablet-width) {
    flex-wrap: nowrap;
    align-items: center;
    width: 708px;
    gap: 94px;
  }

  @media (min-width: $desktop-width) {
    width: 1220px;
    margin: 0 auto;
    max-width: 1440px;
  }

  &--form {
    @media (min-width: $tablet-width) {
      gap: 97px;
    }
  }
}

.main-header__logo-wrapper {
  padding: 0;
  padding-top: 13px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 56px;

  &[type]:hover &[href]:hover {

    opacity: 0.8;
  }

  &[type]:active &[href]:active {
    opacity: 0.6;
  }

  @media (min-width: $tablet-width) {
    justify-content: flex-start;
    padding-top: 25px;
  }

  @media (min-width: $desktop-width) {
    padding-top: 55px;
  }
}

.main-header__main-logo {
  display: flex;
  align-items: center;
  gap: 56px;
  pointer-events: none;

  @media (min-width: $tablet-width) {
    gap: 13px;
  }

  @media (min-width: $desktop-width) {
    gap: 14px;
  }
}

.main-header__primary-logo-image {
  @media (min-width: $tablet-width) {
    pointer-events: all;
  }
}

.main-header__secondary-logo-image {
  @media (min-width: $tablet-width) {
    pointer-events: all;
  }
}


.main-header__toggle {
  margin-bottom: 3px;
  margin-top: 10px;
  align-self: center;
  display: block;
  border: 0;
  height: 24px;
  width: 24px;
  background-color: transparent;
  background-image: url("../../images/icons/stack.svg#burger");
  background-position: center;
  background-size: 24px 24px;
  background-repeat: no-repeat;
  cursor: pointer;

  @media (min-width: $tablet-width) {
    display: none;
  }
}
