.main-footer {
  background-color: $basic-grey;
}

.main-footer__container {
  padding-top: 40px;
  padding-bottom: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;

  @media (min-width: $tablet-width) {
    flex-direction: row;
    justify-content: space-between;
  }
}

.main-footer__logo-link {
  position: relative;

  &::before {
    position: absolute;
    content: "";
    left: -66px;
    width: 128px;
    height: 24px;
    mask-image: url("../../images/icons/stack.svg#logo-footer");
    background-color: #111111;
  }

  &:hover {
    &:before {
      background-color: #3e3e3e;
    }
  }

  &:active {
    &:before {
      background-color: #6b6b6b;
    }
  }


  @media (min-width: $tablet-width) {
    &::before {
      left: 0;
    }
  }
}


.main-footer__social-list {
  position: relative;
  margin-top: 40px;
  margin-bottom: 40px;
  display: flex;

  &::before {
    position: absolute;
    content: "";
    top: -10px;
    left: -140px;
    width: 280px;
    height: 1px;
    background-color: #d9d9d9;

    @media (min-width: $tablet-width) {
      content: none;
    }
  }

  &::after {
    position: absolute;
    content: "";
    width: 280px;
    height: 1px;
    left: -140px;
    top: 30px;
    background-color: #d9d9d9;

    @media (min-width: $tablet-width) {
      content: none;
    }
  }
}

.main-footer__social-link {
  &:hover {
    &::before {
      background-color: $basic-green;
    }
  }

  &:active {
    &::before {
      background-color: $basic-green;
      opacity: 0.3;
    }
  }
}

.main-footer__social-link--vk {
  position: relative;

  &::before {
    position: absolute;
    content: "";
    left: -64px;
    width: 28px;
    height: 22px;
    mask-image: url("../../images/icons/stack.svg#vk");
    background-color: #666666;
  }

  @media (min-width: $tablet-width) {
    &::before {
      left: 19px;
    }
  }
}

.main-footer__social-link--youtube {
  position: relative;

  &::before {
    position: absolute;
    content: "";
    left: -12px;
    width: 28px;
    height: 22px;
    mask-image: url("../../images/icons/stack.svg#yt");
    background-color: #666666;
  }

  @media (min-width: $tablet-width) {
    &::before {
      left: 74px;
    }
  }
}

.main-footer__social-link--telegram {
  position: relative;

  &::before {
    position: absolute;
    content: "";
    left: 35px;
    width: 28px;
    height: 22px;
    mask-image: url("../../images/icons/stack.svg#tg");
    background-color: #666666;
  }

  @media (min-width: $tablet-width) {
    &::before {
      left: 125px;
    }
  }
}

.main-footer__copyright-wrapper {
  width: 280px;
  margin: 0 auto;

  @media (min-width: $tablet-width) {
    width: 170px;
    margin: 0;
  }
}

.main-footer__copyright-title {
  font-family: $secondary-font;
  color: $dark;
  font-size: 16px;
  line-height: 20px;
  text-decoration: none;
  position: relative;
  align-self: start;

  &::before {
    position: absolute;
    content: "";
    left: 253px;
    width: 27px;
    height: 34px;
    mask-image: url("../../images/icons/stack.svg#academy-logo");
    background-color: #666666;
  }

  &:hover {
    &::before {
      background-color: $basic-green;
    }
  }

  &:active {
    opacity: 0.3;

    &::before {
      background-color: $basic-green;
      opacity: 0.3;
    }
  }

  @media (min-width: $tablet-width) {
    &::before {
      left: 130px;
    }
  }
}
