.main-header__container {
  height: 100%;
  position: relative;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;

  @media (min-width: $tablet-width) {
    padding: 0 30px;
    padding-top: 39px;
    justify-content: space-between;
    flex-wrap: nowrap;
    align-items: center;
  }

  @media (min-width: $desktop-width) {
    padding: 0 110px;
    max-width: 1440px;
    padding-top: 71px;
  }
}

.main-header__logo-wrapper {
  width: 55%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 56px;

  &:hover {
    opacity: 0.8;
  }

  &:active {
    opacity: 0.6;
  }

  @media (min-width: $tablet-width) {
    justify-content: flex-start;
  }
}

.main-header__toggle {
  align-self: center;
  display: block;
  border: 0;
  height: 24px;
  width: 24px;
  background-color: transparent;
  background-image: url("../../images/icons/stack.svg#burger");
  background-position: center;
  background-size: 24px 24px;
  background-repeat: no-repeat;
  cursor: pointer;

  @media (min-width: $tablet-width) {
    display: none;
  }
}

