.main-footer {
  background-color: $basic-grey;

  @media (min-width: $desktop-width) {
    padding-top: 20px;
  }
}

.main-footer__container {
  padding-top: 40px;
  padding-bottom: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 240px;

  @media (min-width: $tablet-width) {
    flex-direction: row;
    justify-content: space-between;
    padding-top: 0;
    height: 147px;
  }

  @media (min-width: $desktop-width) {
    padding-bottom: 53px;
  }
}

.main-footer__logo-link {
  position: relative;

  &::before {
    position: absolute;
    content: "";
    left: -67px;
    width: 128px;
    height: 24px;
    mask-image: url("../../images/icons/stack.svg#logo-footer");
    background-color: #111111;
  }

  &:hover::before {
    background-color: #3e3e3e;
  }

  &:active::before {
    background-color: #6b6b6b;
  }

  @media (min-width: $tablet-width) {
    margin-top: 10px;

    &::before {
      left: 0;
    }
  }
}


.main-footer__social-list {
  position: relative;
  margin-top: 65px;
  margin-bottom: 65px;
  display: flex;

  &::before {
    position: absolute;
    content: "";
    top: -20px;
    left: -140px;
    width: 280px;
    height: 1px;
    background-color: #d9d9d9;

    @media (min-width: $tablet-width) {
      content: none;
      margin-top: 80px;
    }
  }

  &::after {
    position: absolute;
    content: "";
    width: 280px;
    height: 1px;
    left: -140px;
    top: 40px;
    background-color: #d9d9d9;

    @media (min-width: $tablet-width) {
      content: none;
    }
  }

  @media (min-width: $tablet-width) {
    margin-top: 80px;
  }
}

.main-footer__social-link {
  &:hover {
    &::before {
      background-color: $basic-green;
    }
  }

  &:active {
    &::before {
      background-color: $basic-green;
      opacity: 0.3;
    }
  }
}

.main-footer__social-link--vk {
  position: relative;

  &::before {
    position: absolute;
    content: "";
    left: -66px;
    width: 28px;
    height: 22px;
    mask-image: url("../../images/icons/stack.svg#vk");
    background-color: #666666;
  }

  @media (min-width: $tablet-width) {
    &::before {
      left: 16px;
    }
  }
}

.main-footer__social-link--youtube {
  position: relative;

  &::before {
    position: absolute;
    content: "";
    left: -14px;
    width: 28px;
    height: 22px;
    mask-image: url("../../images/icons/stack.svg#yt");
    background-color: #666666;
  }

  @media (min-width: $tablet-width) {
    &::before {
      left: 69px;
    }
  }
}

.main-footer__social-link--telegram {
  position: relative;

  &::before {
    position: absolute;
    content: "";
    left: 37px;
    width: 28px;
    height: 22px;
    mask-image: url("../../images/icons/stack.svg#tg");
    background-color: #666666;
  }

  @media (min-width: $tablet-width) {
    &::before {
      left: 120px;
    }
  }
}

.main-footer__copyright-wrapper {
  width: 280px;
  margin: 0 auto;

  @media (min-width: $tablet-width) {
    width: 162px;
    margin: 0;
    margin-top: 34px;
  }
}

.main-footer__copyright-title {
  font-family: $secondary-font;
  color: $dark;
  font-size: 16px;
  line-height: 20px;
  text-decoration: none;
  position: relative;

  &::before {
    position: absolute;
    content: "";
    top: -5px;
    left: 253px;
    width: 27px;
    height: 34px;
    mask-image: url("../../images/icons/stack.svg#academy-logo");
    background-color: #666666;
  }

  &:hover {
    &::before {
      background-color: $basic-green;
    }
  }

  &:active {
    opacity: 0.3;

    &::before {
      background-color: $basic-green;
      opacity: 0.3;
    }
  }

  @media (min-width: $tablet-width) {
    &::before {
      top: -6px;
      left: 136px;
    }
  }
}
