.options__wrapper {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  width: 280px;
  gap: 20px;
  padding: 20px 0 20px 0;

  @media (min-width: $tablet-width) {
    padding: 0;
    width: 708px;
    gap: 30px;
  }

  @media (min-width: $desktop-width) {
    display: grid;
    grid-template-columns: 570px 570px;
    justify-content: center;
    gap: 80px;
  }
}

.options__card {
  padding: 30px 33px 18px 20px;
  background-color: $basic-grey;

  @media (min-width: $tablet-width) {
    padding: 73px 0 57px 52px;
  }

  @media (min-width: $desktop-width) {
    padding: 77px 0 59px 52px;
  }
}

.options__title {
  font-size: 24px;
  line-height: 37px;
  text-transform: uppercase;
  margin: 0;
  margin-left: 70px;

  @media (min-width: $tablet-width) {
    font-size: 36px;
    margin-left: 0;
  }

  @media (min-width: $desktop-width) {
    font-size: 36px;
    margin-left: 214px;
  }
}

.options__title--lose {
  position: relative;

  &::before {
    position: absolute;
    content: "";
    width: 36px;
    height: 50px;
    background-image: url("../../images/icons/stack.svg#cat-slim");
    left: -63px;
    top: -9px;
    z-index: 2;

    @media (min-width: $tablet-width) {
      width: 140px;
      height: 194px;
      left: 424px;
      top: 5px;
    }

    @media (min-width: $desktop-width) {
      width: 70px;
      height: 97px;
      left: -147px;
      top: -45px;
    }
  }

  &::after {
    position: absolute;
    content: "";
    width: 50px;
    height: 50px;
    background-color: $basic-green;
    border-radius: 50%;
    z-index: 1;
    left: -70px;
    top: -5px;

    @media (min-width: $tablet-width) {
      width: 200px;
      height: 200px;
      left: 394px;
      top: 15px;
    }

    @media (min-width: $desktop-width) {
      width: 100px;
      height: 100px;
      left: -162px;
      top: -36px;
    }
  }
}

.options__title--gain {
  position: relative;
  margin-top: 3px;

  &::before {
    position: absolute;
    content: "";
    width: 67px;
    height: 28px;
    background-image: url("../../images/icons/stack.svg#cat-strong");
    left: -79px;
    top: 4px;
    z-index: 2;

    @media (min-width: $tablet-width) {
      width: 268px;
      height: 112px;
      left: 358px;
      top: 58px;
    }

    @media (min-width: $desktop-width) {
      width: 134px;
      height: 56px;
      left: -181px;
      top: -12px;
    }
  }

  &::after {
    position: absolute;
    content: "";
    width: 50px;
    height: 50px;
    background-color: $basic-green;
    border-radius: 50%;
    z-index: 1;
    left: -70px;
    top: -6px;

    @media (min-width: $tablet-width) {
      width: 200px;
      height: 200px;
      left: 393px;
      top: 15px;
    }

    @media (min-width: $desktop-width) {
      width: 100px;
      height: 100px;
      left: -162px;
      top: -36px;
    }
  }

  @media (min-width: $tablet-width) {
    margin-top: 9px;
  }
}

.options__description {
  font-family: $secondary-font;
  color: $dark;
  font-size: 14px;
  line-height: 18px;
  width: 227px;
  margin-top: 29px;

  @media (min-width: $tablet-width) {
    margin-top: 24px;
    font-size: 16px;
    line-height: 24px;
    width: 340px;
    color: $darker;
  }

  @media (min-width: $desktop-width) {
    text-align: start;
    margin-top: 73px;
    width: 451px;
  }
}

.options__link {
  position: relative;
  color: $darker;
  line-height: 16px;
  text-transform: uppercase;
  text-decoration: none;
  display: block;
  margin-top: 43px;

  &:hover {
    opacity: 0.8;
  }

  &:active {
    opacity: 0.3;
  }

  &::before {
    position: absolute;
    content: "";
    background-color: #d9d9d9;
    width: 240px;
    height: 1px;
    top: -20px;
  }

  &::after {
    position: absolute;
    content: "";
    width: 32px;
    height: 10px;
    background-image: url(../../images/icons/stack.svg#arrow-icon);
    left: 101px;
    top: 3px;

    @media (min-width: $tablet-width) {
      left: 132px;
    }
  }

  @media (min-width: $tablet-width) {
    margin-top: 60px;
    font-size: 20px;

    &::before {
      position: relative;
    }
  }

  @media (min-width: $desktop-width) {
    text-align: start;
  }
}
