.options__container {
  display: flex;
  flex-direction: column;
}

.options__card {
}

.options__title {
  font-size: 24px;
  line-height: 37px;
  text-transform: uppercase;
  text-align: center;
}

.options__title--lose {
  position: relative;

  &::before {
    position: absolute;
    content: "";
    width: 36px;
    height: 50px;
    background-image: url("../../images/icons/stack.svg#cat-slim");
    left: 30px;

    @media (min-width: 768px) {
      width: 140px;
      height: 194px;
    }

    @media (min-width: 1440px) {
      width: 70px;
      height: 97px;
    }
  }
}

.options__title--gain {
  position: relative;

  &::before {
    position: absolute;
    content: "";
    width: 67px;
    height: 28px;
    background-image: url("../../images/icons/stack.svg#cat-strong");
    left: 2px;

    @media (min-width: 768px) {
      width: 268px;
      height: 112px;
    }

    @media (min-width: 1440px) {
      width: 134px;
      height: 56px;
    }
  }
}

.options__description {
  font-family: $secondary-font;
  color: $dark;
  font-size: 14px;
  line-height: 18px;

}

.options__link {
  color: $darker;
  line-height: 16px;
  text-transform: uppercase;
  text-decoration: none;
}
