.selection__forms-title {
  position: relative;

  &--radio {
    padding-left: 45px;

    @media (min-width: $tablet-width) {
      padding-left: 58px;
    }
  }

  &--checkbox {
    padding-left: 45px;

    @media (min-width: $tablet-width) {
      padding-left: 60px;
    }
  }
}

.selection-forms-radio {
  margin: 0;
  padding: 0;

  &:checked ~ .selection-radio::after {
    content: "";
    width: 13px;
    height: 13px;
    position: absolute;
    background-color: $basic-green;
    border-radius: 50%;
    top: 13px;
    left: 13px;
    transform: translate(-50%, -50%);

    @media (min-width: $tablet-width) {
      width: 18px;
      height: 18px;
      left: 18px;
      top: 18px;
    }
  }
}


.selection__form-checkbox {
  margin: 0;
  padding: 0;

  &:checked ~ .selection-checkbox {
    content: "";
    display: block;
    background-image: url("../../images/icons/stack.svg#mark");
    background-size: 18px 14px;
    background-position: center;
    background-repeat: no-repeat;

    @media (min-width: $tablet-width) {
      background-size: 24px 18px;
    }
  }
}

.selection-radio {
  display: block;
  width: 30px;
  height: 30px;
  border: 1px solid #cdcdcd;
  border-radius: 50%;
  background-color: $lighter;
  top: -5px;
  cursor: pointer;
  position: absolute;

  @media (min-width: $tablet-width) {
    width: 40px;
    height: 40px;
    left: -2px;
  }

  .selection-forms-radio:hover ~ & {
    border-color: #bababa;
  }

  .selection-forms-radio:focus ~ & {
    border: 2px solid #bababa;
  }

  .selection-forms-radio:disabled ~ & {
    opacity: 0.3;
  }
}

.selection-forms-label--radio {
  .selection-forms-radio:disabled ~ & {
    opacity: 0.3;
  }
}

.selection-checkbox {
  display: block;
  width: 30px;
  height: 30px;
  border: 1px solid #cdcdcd;
  top: -2px;
  background-color: $lighter;
  cursor: pointer;
  position: absolute;

  @media (min-width: $tablet-width) {
    width: 40px;
    height: 40px;
  }

  .selection__form-checkbox:hover ~ & {
    border-color: #bababa;
  }

  .selection__form-checkbox:focus ~ & {
    border: 2px solid #bababa;
  }

  .selection__form-checkbox:disabled ~ & {
    opacity: 0.3;
  }
}

.selection-forms-label--checkbox {
  .selection__form-checkbox:disabled ~ & {
    opacity: 0.3;
  }
}
